.result {
  display: none;
}


p {
  color: rgb(230, 30, 230);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: powderblue;
  
}

h1 {
  color: blueviolet;
  background-color: darkseagreen;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

h2 {
  color: cadetblue;
  background-color: rgb(50, 65, 50);
  text-decoration: gold;
  text-emphasis: bold;
  text-align: center;
}

body {
  background-color: rgb(233, 8, 53);

}

.important {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gold;
}

